.icon {
    font-family: thronesdb;
}

.icon-power::before {
    content: "\e607";
}

.icon-plot:before {
	content: "\e60c";
}

.icon-location:before {
	content: "\e60e";
}

.icon-character:before {
	content: "\e60f";
}

.icon-event:before {
	content: "\e610";
}

.icon-agenda:before {
	content: "\e611";
}

.icon-attachment:before {
	content: "\e60d";
}