$body-bg: #0e0b10;
$body-color: #eeeeee;

$primary: #41658a;
$info: #0dcaf0;
$secondary: #009648;
$dark: rgba(0, 0, 0, 0.8);
$emphasis: #dc4787;

$custom-colors: (
    'baratheon': #e3d852,
    'greyjoy': #1d7a99,
    'lannister': #c00106,
    'martell': #e89521,
    'neutral': #a99560,
    'stark': #cfcfcf,
    'targaryen': #1c1c1c,
    'thenightswatch': #7a7a7a,
    'tyrell': #509f16
);

$controlled-border-color: #ffdf14;

$power-icon-color: #2a2e5e;
$military-icon-color: #c72229;
$intrigue-icon-color: #05552f;

$martell-foreground: #a20000;
$martell-background: #eeab46;

$tyrell-foreground: #f0d210;
$tyrell-background: #054b3c;

$thenightswatch-foreground: #212022;
$thenightswatch-background: #b6b4b5;

$lannister-foreground: #f1b62c;
$lannister-background: #8b2733;

$stark-foreground: #444646;
$stark-background: white;

$baratheon-foreground: #190919;
$baratheon-background: #fdff14;

$greyjoy-foreground: #eee59c;
$greyjoy-background: #0f053c;

$targaryen-foreground: #8e323b;
$targaryen-background: #00170c;
