@font-face {
    font-family: 'thronesdb';
    src: url('~assets/fonts/thronesdb.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bombardier';
    src: url('~assets/fonts/Bombardier.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
