.sidebar {
    position: absolute;
    left: 0;
    top: $navbar-height;
    bottom: 0;
    background-color: $dark;

    & a {
        color: $primary;

        &:active {
            color: $primary;
        }
    }

    &.expanded {
        width: 200px;

        a {
            color: $danger;
        }
    }

    z-index: 999;
    overflow-y: auto;

    width: 40px;

    transition: width 500ms ease-in-out;
}
