.navbar {
    color: $navbar-dark-color;
}

.navbar-sm {
    min-height: $navbar-height;
    height: $navbar-height;
}

.navbar-sm .navbar-nav > li > span {
    padding: 0 15px;
    line-height: $navbar-height;
}

.navbar-brand {
    background-image: url('~assets/img/header_icon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 32px;
    height: 120%;
}
