.navbar {
    color: $navbar-dark-color;
}

.navbar-sm {
    min-height: $navbar-height;
    height: $navbar-height;
}

.navbar-sm .navbar-nav > li > span {
    padding: 0 15px;
    line-height: $navbar-height;
}
