@import '../../styles/variables';
@import '../../styles/colours';

.card-wrapper {
    margin: 0;
    vertical-align: middle;
    display: inline-block;
    user-select: none;
    position: relative;
}

.card-frame {
    position: relative;
}

.card-image {
    left: 0;
    position: absolute;
    top: 0;
    pointer-events: none;

  &.small {
    &.vertical {
      height: $throneteki-card-sm-height;
      width: $throneteki-card-sm-width;
    }

    &.horizontal {
      height: $throneteki-card-sm-width;
      width: $throneteki-card-sm-height;
    }
  }

  &.large {
    &.vertical {
      height: $throneteki-card-lg-height;
      width: $throneteki-card-lg-width;
    }

    &.horizontal {
      height: $throneteki-card-lg-width;
      width: $throneteki-card-lg-height;
    }

    &.exhausted {
      left: 19px;
      top: -20px;
    }
  }

  &.x-large {
    &.vertical {
      height: $throneteki-card-xl-height;
      width: $throneteki-card-xl-width;
    }

    &.horizontal {
      height: $throneteki-card-xl-width;
      width: $throneteki-card-xl-height;
    }

    &.exhausted {
      left: 24px;
      top: -26px;
    }

  }

  &.vertical {
    height: $throneteki-card-height;
    width: $throneteki-card-width;
  }

  &.horizontal {
    height: $throneteki-card-width;
    width: $throneteki-card-height;
  }

  &.exhausted {
    left: 11px;
    top: -14px;
    transform: rotate(90deg);
  }
}

.card-name {
  font-size: 10px;
  line-height: 14px;
}

@keyframes glowing {
  from {
    background-color: #749a02;
    box-shadow: 0 0 9px #333;
  }
  50% {
    background-color: #91bd09;
    box-shadow: 0 0 18px #91bd09;
  }
  to {
    background-color: #749a02;
    box-shadow: 0 0 9px #333;
  }
}

.game-card {
    position: relative;
    border-radius: 4px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4), inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    overflow: hidden;
    z-index: $layer-cards;

  &.small {
    &.vertical {
      height: $throneteki-card-sm-height;
      width: $throneteki-card-sm-width;
    }

    &.horizontal {
      height: $throneteki-card-sm-width;
      width: $throneteki-card-sm-height;
    }
  }

  &.large {
    &.vertical {
      height: $throneteki-card-lg-height;
      width: $throneteki-card-lg-width;
    }

    &.horizontal {
      height: $throneteki-card-lg-width;
      width: $throneteki-card-lg-height;
    }
  }

  &.x-large {
    &.vertical {
      height: $throneteki-card-xl-height;
      width: $throneteki-card-xl-width;
    }

    &.horizontal {
      height: $throneteki-card-xl-width;
      width: $throneteki-card-xl-height;
    }
  }

  &.vertical {
    height: $throneteki-card-height;
    width: $throneteki-card-width;
  }

  &.horizontal {
    height: $throneteki-card-width;
    width: $throneteki-card-height;
  }

    &.selectable {
        box-shadow: 0 0 10px 1px fade-out(lighten($primary, 60%), 0.1);

        &.controlled {
            box-shadow: $controlledBox,
                0 0 10px 1px fade-out(lighten($primary, 60%), 0.1);
        }
    }

    &.unselectable {
        filter: grayscale(100%) brightness(60%);
    }

    &.can-play {
        animation: glowing 2000ms infinite;

        &.controlled {
            box-shadow: $controlledBox,
                0 0 10px 1px fadeout(lighten($primary, 60%), 10%);
        }
    }

    &.in-danger {
        box-shadow: 0 0 1px 2px red;
    }

    &.saved {
        box-shadow: 0 0 1px 2px green;
    }

    &.selected {
        box-shadow: 0 0 1px 4px $secondary;

        &.controlled {
            box-shadow: $controlledBox, 0 0 1px 4px $secondary;
        }
    }

    &.new {
        box-shadow: 0 0 1px 2px $info;
    }

    &.controlled {
        box-shadow: $controlledBox;
    }
}

.drag-preview {
    pointer-events: none;
    position: fixed;

    opacity: 0.5;
    z-index: $layer-top;
}

.card-ordering {
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 4px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  height: 26px;
  left: 50%;
  line-height: 24px;
  margin: 0 0 0 -12px;
  position: absolute;
  text-align: center;
  top: -28px;
  width: 24px;
  z-index: $layer-card-menu;
}
