.card {
    font-family: Verdana, serif;
    box-shadow: 3px 3px 5px $primary !important;

    .card-header {
        font-weight: normal;
        background-size: cover;
        color: $light;
    }

    &.border-primary {
        .card-header {
            border-color: $primary;
            background-position: center;
        }
    }
}

