html,
body {
    height: 100%;
}

.body,
.container,
#component {
    height: 100%;
}

body {
    font-size: 0.9rem;
}

.wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    overflow-y: auto;
}

.content {
    padding-top: $navbar-height + 5px;
}

.table-hover tbody tr:hover td {
    background-color: $info;
}

.table-scroll {
    overflow-y: auto;
    height: 50vh;

    th {
        position: sticky;
        top: 0;
    }

    // Make checkboxes selectable by clicking anywhere in the cell
    td {
        padding: 0.5rem;
    }

    td > label,
    th > label,
    th > div > label {
        display: block;
        margin: -0.5rem;
        padding: 0.5rem;
    }
}

.admin-role {
    color: #e74c3b;
}

.contributor-role {
    color: #20667c;
}

.supporter-role {
    color: #2ecc71;
}

.winner-role {
    color: #eebd1d;
}

.previouswinner-role {
    color: #ff38c7;
}

.clickable {
    cursor: pointer;
    cursor: hand;
}

h4 {
    font-size: 0.9rem;
}

h3 {
    font-size: 1.1rem;
}

.panel {
    background-color: rgba(0, 0, 0, 0.65);
}

.panel {
    font-family: Verdana;

    -moz-box-shadow: 3px 3px 5px theme-color('primary');
    -webkit-box-shadow: 3px 3px 5px theme-color('primary');
    box-shadow: 3px 3px 5px theme-color('primary');

    .panel-heading {
        font-weight: normal;
        background-size: cover;
    }
}

a {
    color: theme-color('secondary');

    &:hover {
        color: theme-color('info');
        text-decoration: none;
    }

    text-decoration: none;
}

.bg {
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.rrt-message {
    background: $dark !important;
}

.rrt-confirm {
    background: $primary !important;
}
