.game-card-image {
    img {
        border-radius: 6px;
    }

    min-height: 45px;

    .sm {
        width: 32px;
    }

    .md {
        width: 64px;
    }

    .lg {
        width: 300px;
    }
}
