.player-stats {
    overflow-x: auto;
    overflow-y: hidden;

    &.panel {
        margin: 0;
        border-radius: 0;
        padding: 5px;
        position: initial;
    }
}

.state {
    height: 30px;
    padding-left: 7px;
    padding-right: 7px;
    border-right: dotted 2px #324e8e;
    display: flex;
    align-items: center;
    min-width: fit-content;

    &.on {
        opacity: 1;
    }

    a {
        color: $body-color;
    }

    a:hover {
        color: $secondary;
    }

    span {
        padding-right: 3px;
        padding-left: 3px;
    }

    &:last-of-type {
        border-right: none;
    }

    img {
        height: 100%;

        &:not(:last-child) {
            margin-right: 2px;
        }
    }

    &.first-player {
        margin: 0px 5px;
        padding: 5px;
        text-align: center;
        background: $primary;
        border-radius: 0.25rem;
        border: 1px solid rgba(128, 128, 128, 0.53);
    }

    .gravatar {
        margin-left: 3px;
    }
}

.inactive-player {
    opacity: 0.2;
}

.inactive-player:before {
    content: '\25B6';
    color: rgba(0, 0, 0, 0.85);
}

.active-player {
    .state svg {
        color: white;
    }
}

.active-player:before {
    content: '\25B6';
    color: $secondary;
}

.stat-image {
    background-repeat: no-repeat;
    margin-left: 2px;
    width: 22px;
    height: 22px;
    background-size: 22px 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;

    &.gold {
        background-image: url('~assets/img/Gold.png');
    }

    &.initiative {
        background-image: url('~assets/img/Initiative.png');
    }

    &.claim {
        background-image: url('~assets/img/Claim.png');
    }

    &.reserve {
        background-image: url('~assets/img/Reserve.png');
    }

    &.totalPower {
        background-image: url('~assets/img/Power.png');
    }
}

.stat-value {
    font-family: Bombardier, serif;
    font-size: 1.4rem;
}
